body{
    background-image:url(fondiuuu.jpeg) ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:rgb(0, 241, 80);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


.contenPadre,div{
    padding-top: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
#buton {
    margin-top: 2%;

}
